body{
    text-align: center;
    margin: auto;
    align-items: center;
}
.bulb-container{
    height: 341px;
    width: 341px;
    background-color: yellow;
}
#jk{
    height: 341px;
    width: 341px; 
}