:root{
    --name-color : red;
    --material-color : green;
    --rating-color: blue;
}

.name{
    color:var(--name-color);
}
.mater{
    color:var(--material-color);
}
.rate{
    color:var(--rating-color);
}



/* li:nth-child(1){
    color: var(--name-color);
} */